.ant-modal-header {
  position: relative;
  padding-left: 12px;
  margin-bottom: 20px !important;

  &::before {
    position: absolute;
    top: 7%;
    left: 0;
    width: 4px;
    height: 85%;
    background-color: var(--pro-ant-color-primary);
    content: '';
    border-radius: 2px;
  }
}